*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{scroll-behavior: smooth;}

a{
  text-decoration: none;
  color: inherit;
}
section{
  width: 100%;
  height: 100vh;
  transition: opacity 2s;

  body.clicked &{opacity: .6;}

  &#about{background-color: #f44336;}
  &#products{background-color: #4CAF50;}
  &#services{background-color: #ff9800;}
  &#contact{background-color: #607d8b;}
}
div#open{
  position: fixed;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  margin: 40px;
  z-index: 9999;
  background-color: black;
  border-radius: 50%;
  
  svg{
    rect{
      fill: white;
      transform-box: fill-box;
    
      &.a{transform: translate(10px, 12px);}
      &.b{
        transform: translate(10px, 19px);
        
        body.clicked &{opacity: 0;}
      }
      &.c{transform: translate(10px, 26px);}    
    }
  }
}

nav#nav{
  position: fixed;
  display: flex; justify-content: center; align-items: center;
  top: 0;
  right: -200px;
  width: 200px;
  height: 100vh;
  z-index: 9998;
  background-color: #999999;
  color: white;
  transition: right 400ms;

  body.clicked &{
    right: 0;
  }

  ul{
    li{
      list-style: none;
      padding: 20px 0;
    }
  }
}